<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1>
        <a href="/index.html" id="nav-logo">
          <img src="/images/mitre_inspec_vert_rt.svg" style="width: 120px;" />
          MITRE Inspec Compliance Framework
        </a>
      </h1>

    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      {{ range .Site.Menus.global }}
       <li>
        <a href="{{ .URL }}">
          {{ .Name }}
        </a>
      </li>
        <!-- {{ if .HasChildren }}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ .Name }} <span class="caret"></span></a>
        <ul class="dropdown-menu">
          {{ range .Children }}
          <li><a href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
        </li>
        </ul>
        {{ else }}
        <a href="{{ .URL }}">{{ .Name }}</a>
        {{ end  }}-->
      {{ end }}
    </ul>
  </section>
</nav>
