{{ define "main" }}
  <!-- Landing -->
  <section class="landing_container" id="landing">
    <div id="landing-bg">
    </div>

    <div class="row">
      <div class="large-10 medium-12 small-12 small-centered columns headline">

        <div class="row">
          <div class="small-12 columns">
            <h1 class="t-mint"><strong>MITRE</strong> <strong>Inspec</strong></h1>
            <h3>{{ .Description }}</h3>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- End Landing -->

  <section class="explain inspec border-top" id="overview">
    <div class="row">
      {{ partial "baselines/overview.html" . }}
    </div>
  </section>
{{ end }}
