<div id="overview" class="section baselines">

  <div class="header">
    <h2 class="title center">Overview</h2>
    <div class="description center">MITRE Inspec Hardening Framework Baselines</div>
  </div>

  <div class="row">
    <div class="large-8 medium-12 small-12  small-centered columns feature-box">
      <div class="row features" data-equalizer>
        <div class="small-3 columns types" data-equalizer-watch>
          <div>
             Applications
          </div>
        </div>
        <div class="small-9 columns content" data-equalizer-watch>
          <div class="row">
            <div class="small-6 columns box rsa-archer">
              <a href="/baselines/rsa-archer-security-configuration-guide-baseline">
                <h5>RSA-Archer</h5>
              </a>
            </div>
            <div class="small-6 columns box docker">
              <a href="/baselines/cis-docker-ce-baseline">
                <h5>CIS Docker CE Baseline</h5>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="small-6 columns box heimdall">
              <a href="/baselines/heimdall-baseline">
                <h5>Heimdall</h5>
              </a>
            </div>
            <div class="small-6 columns box nginx">
              <a href="/baselines/nginx-baseline">
                <h5>Nginx</h5>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row features" data-equalizer>
        <div class="small-3 columns types" data-equalizer-watch>
          <div>
             Database
          </div>
        </div>
        <div class="small-9 columns content" data-equalizer-watch>
          <div class="row">
            <div class="small-6 columns box microsoft-sql-2014-database-stig-baseline">
              <a href="/baselines/microsoft-sql-2014-database-stig-baseline">
                      <h5> Microsoft SQL 2014 STIG Baseline </h5>
                  </a>
            </div>

          </div>
        </div>
      </div>
      <div class="row features" data-equalizer>
          <div class="small-3 columns types" data-equalizer-watch>
            <div>
               Cloud Security Validation
            </div>
          </div>
          <div class="small-9 columns content" data-equalizer-watch>
            <div class="row">
              <div class="small-6 columns box aws-s3-baseline">
                <a href="/baselines/aws-s3-baseline">
                  <h5>AWS S3</h5>
                </a>
              </div>
              <div class="small-6 columns box cis-aws">
                <a href="/baselines/cis-aws-foundations-baseline">
                  <h5>CIS AWS Foundations</h5>
                </a>
              </div>
              <div class="small-6 columns box aws-demo">
                <a href="/baselines/aws-demo-baseline">
                  <h5>AWS Demo Baseline</h5>
                </a>
              </div>
            </div>
          </div>
      </div>
      <div class="row features" data-equalizer>
        <div class="small-3 columns types" data-equalizer-watch>
          <div>
             OS
          </div>
        </div>
        <div class="small-9 columns content" data-equalizer-watch>
          <div class="row">
            <div class="small-6 columns box disa-rhel6">
              <a href="/baselines/disa-rhel6-stig-baseline">
                <h5>DISA RHEL6</h5>
              </a>
            </div>
            <div class="small-6 columns box os">
                <a href="/baselines/microsoft-windows-2012r2-memberserver-stig-baseline">
                  <h5>Windows Server 2012R2</h5>
                </a>
              </div>
            <div class="small-6 columns box os">
                <a href="/baselines/microsoft-windows-server-2016-v1r4-stig-baseline">
                  <h5>Windows Server 2016</h5>
                </a>
              </div>
          </div>
        </div>
      </div>
      <div class="row features" data-equalizer>
        <div class="small-3 columns types" data-equalizer-watch>
          <div>
            Web Server Validation
          </div>
        </div>
        <div class="small-9 columns content" data-equalizer-watch>
          <div class="row">
            <div class="small-6 columns box iis-server-8.5-server">
              <a href="/baselines/microsoft-iis-8.5-server-stig-baseline">
                      <span>Microsoft IIS 8.5 Server</span>
                  </a>
            </div>
            <div class="small-6 columns box iis-server-8.5-site">
              <a href="/baselines/microsoft-iis-8.5-site-stig-baseline">
                      <span>Microsoft IIS 8.5 Site</span>
                  </a>
            </div>
            <div class="small-6 columns box iis-server-8.5-site">
              <a href="/baselines/helloworld-web-functional-baseline">
                      <span>Hello World Functional Baseline</span>
                  </a>
            </div>
            <div class="small-6 columns box iis-server-8.5-site">
              <a href="/baselines/helloworld-web-security-baseline">
                      <span>Hello World Security Basline</span>
                  </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row features">
        <div class="small-3 columns"></div>
        <div class="small-9 columns">
        </div>
      </div>
    </div>
  </div>

</div>
